.text-center{
  text-align: center;
}

.grid.current-weather-info{
  justify-items: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 1rem;
}

.current-weather-info__img{
  width: 8rem;
}

.current-weather-info-temperature{
  font-size: 4rem;
}

.grid.current-weather-info-temperature-range{
  grid-template-columns: 1fr 1fr !important;
}

.current-weather-details{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.hourly-forecast{
  overflow: hidden;
  user-select: none;
  cursor: grab;
}

.hourly-forecast:active{
  cursor: grabbing;
}

.hourly-forecast-carousel{
  display: inline-flex;
  gap: 100px;
}

.hourly-forecast-card{
  width: 200px;
}

.hourly-forecast-card img{
  -webkit-user-drag: none;
}

.grid.weather-forecast-info{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

@media (min-width:500px) {
  header > div{
    grid-template-columns: 5fr 1fr 1fr !important;
  }
}

@media (max-width:800px) {
  .collapse{
    display: none;
  }

  .grid.weather-forecast-info{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}